@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*
FOR DEFAULT VALUES OF STYLING SEE -> values.txt
*/

/* ########### PRIMARY DEFAULTS ########### */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

/* ########### TERTIARY DEFAULTS ########### */

.arrow {
  width: 1rem;
}

/* ########### HELPERS ########### */

.flx {
  display: flex;
}

.inblk {
  display: inline-block;
}

.grid {
  display: grid;
}
