@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*
FOR DEFAULT VALUES OF STYLING SEE -> values.txt
*/

/* ########### PRIMARY DEFAULTS ########### */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-txt-prim);
}

.container {
  max-width: 182rem;
  margin: auto;
  padding: 12rem 10rem;
}

.container-md {
  max-width: 152rem;
  margin: auto;
  padding: 12rem 5rem;
}

/* ########### LAYOUTS ########### */

.flx {
  display: flex;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* ########### HEADINGS ########### */
.heading-prim {
  font-size: 8.4rem;
  line-height: 8.4rem;
  letter-spacing: -2px;
  font-weight: 400;
  color: var(--color-txt-prim);
  margin-bottom: 1.2rem;
}

.heading-sec {
  font-size: 4.8rem;
  margin-bottom: 1.8rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: #ff3e66;
}

/* ########### DISPLAY ########### */

.inblk {
  display: inline-block;
}

/* ########### ACCESSORIES ########### */

.arrow {
  width: 1rem;
}

.btn-prim {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-txt-prim);
  border-radius: 100px;
  cursor: pointer;
  padding: 1.2rem 2.8rem;
}

.btn--outline {
  border: 2px solid var(--color-bg-prim);
}

.btn--full,
.btn--full:link,
.btn--full:visited {
  font-weight: 600;
  background-color: #ff3e66;
  color: #fff;
  transition: all 0.3s;
}
.btn--full:hover,
.btn--full:active {
  background-color: #e6385c;
}

.fx-ht {
  height: 43.5rem;
}

.change-media {
  display: flex;
  gap: 1.8rem;
  position: absolute;
}
.change-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.change-btn--black {
  border: 2px solid #eee;
  transition: all 0.3s;
}

.ps-abs-1 {
  bottom: 15%;
  right: 2%;
}

.ps-abs-2 {
  bottom: 25%;
  right: 12%;
}
/* ########### TXT ########### */

.txt-xl {
  font-size: 2.4rem;
}

.txt-l {
  font-size: 2.2rem;
  color: rgb(60, 60, 70);
}

.txt-m {
  font-size: 1.6rem;
}

.txt-s {
  font-size: 1.4rem;
}

.txt-t {
  font-size: 1.2rem;
}

.bold-6 {
  font-weight: 600;
}

.bold-5 {
  font-weight: 500;
}

.gry {
  color: var(--color-txt-grey);
}

/* ########### MARGINS ########### */

.mrgn-btm-l {
  margin-bottom: 4.8rem;
}

.mrgn-btm {
  margin-bottom: 2.4rem;
}

.mrgn-btm-s {
  margin-bottom: 1.4rem;
}
