@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*
FOR DEFAULT VALUES OF STYLING SEE -> values.txt
*/

/* ########### PRIMARY DEFAULTS ########### */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 182rem;
  margin: auto;
  padding: 12rem 5rem;
}

/* ########### TERTIARY DEFAULTS ########### */

.arrow {
  width: 1rem;
}

/* ########### HELPERS ########### */

.flx {
  display: flex;
}

.inblk {
  display: inline-block;
}

.grid {
  display: grid;
}

.btn-prim {
  border-radius: 100px;
  cursor: pointer;
  padding: 1.2rem 2.8rem;
}
