:root {
  --color-bg-prim: #eef1f6;
  --color-txt-prim: #0e1133;
  --color-acc: #ff3e66;
  --color-acc-lt: #ff7894;
  --color-txt-grey: rgb(75, 79, 96);
}

/* ########### NAVBAR ########### */
.header {
  background-color: #eef1f6;
  padding: 4rem 10rem 0;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-link {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-txt-prim);
}

.btn-cta {
  margin-left: auto;
  background: var(--color-acc);
}
.nav-link:last-child a {
  color: #fff;
}

/* ########### SECTION HERO ########### */

.hero {
  background: var(--color-bg-prim);
  align-items: flex-end;
  padding: 0 0 0 10rem;
}
.section {
  padding: 9.6rem 0;
}

.heading-prim-bold {
  display: block;
  line-height: 11rem;
}

.hero-container {
  margin-top: 18rem;
  justify-content: space-between;
  grid-template-columns: 2fr 3fr;
}

.hero-description {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}
.hero-img-box {
  justify-self: end;
}

#user-email {
  border: 0;
  border-left: 3px solid var(--color-acc);
  border-radius: 100px;
  font-size: 1.6rem;
  padding: 2rem 14rem 2rem 6rem;
  box-shadow: -3px 0px 0px 0px rgb(255 62 102 / 0%),
    0px 30px 30px 0px rgb(14 17 51 / 10%);
  margin-bottom: 7rem;
}

#user-email:focus {
  outline: none;
}

.hero-btn {
  border: none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: transparent;
}

.hero-form {
  position: relative;
  display: inline-block;
}

.rarr {
  color: var(--color-acc-lt);
  font-size: 2.2rem;
}

.mail-form-icon {
  font-size: 2.4rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  /* transform: translate(5rem, 25%); */
  color: rgb(192, 192, 192);
}

.customers {
  gap: 3.6rem;
}

.customer-img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.customer-imgs {
  position: relative;
}

.customer-img {
  width: 6rem;
}
.customer-img:first-of-type {
  z-index: 999;
}

.customer-img:nth-of-type(2) {
  z-index: 998;
}

.customer-img:nth-of-type(3) {
  z-index: 997;
}

.customer-img:nth-of-type(4) {
  z-index: 996;
}

.customer-img:not(:first-child) {
  margin-left: -2.4rem;
}

.customers-analytics {
  font-size: 1.6rem;
}

.customers-analytics span {
  font-size: 2.8rem;
  font-weight: 800;
  display: block;
}

/* ########### SECTION HOW ########### */

.how-header {
  position: relative;
  margin-bottom: 6.4rem;
}

.features-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

.features-btn {
  font-size: 1.8rem;
  border: 2px solid var(--color-bg-prim);
  text-decoration: none;
  color: var(--color-txt-prim);
}

.feature-icon {
  background-color: #2facfc;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.feature {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 4.8rem 12rem 4.8rem 4.8rem;
}

.feature-title {
  margin-bottom: 1.6rem;
}

.feature-text {
  color: var(--color-txt-grey);
  margin-bottom: 2.4rem;
}

.feature-more {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-txt-grey);
}

/* ########### SECTION MARKETING ########### */

/* .marketing-section {
  margin-bottom: 9.6rem;
} */

.marketing-container {
  padding: 4rem 8rem 0;
  align-items: center;
  grid-template-columns: 1.6fr 2fr;
  gap: 8rem;
}
.marketing-heading {
  max-width: 20ch;
}

.marketing-img-box {
  overflow: hidden;
  height: 47rem;
}

.marketing-img {
  width: 100%;
}

.marketing-points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  margin-top: 4.8rem;
}
.mark-point {
  display: flex;
  gap: 1.2rem;
}
.point-icon {
  align-self: baseline;
  font-size: 2.4rem;
  color: #32c36a;
}

.marketing-list {
  display: flex;
  gap: 3rem;
}
.marketing-item {
  /* display: inline-block;
   */
  display: flex;
  gap: 1.2rem;
  list-style: none;
}
